*{
    margin: 0px;
    font-family: 'Work Sans', sans-serif;;
}

.header{
    background-color: rgb(228, 226, 224);
    background-image: url(/images/banner/banner1.png);
    background-position: contain;
    text-align: right;
    padding: 250px 250px 150px 0px;
    background-repeat: no-repeat;

}
h1{
    font-size: 65px;
    font-style: bold;
}
h6{
    font-size: 16px;
    font-style: normal;
    padding-top: 30px;
    padding-bottom: 30px;
}
.primary-button{
    padding: 20px 20px 20px 20px;
    color: white;
    background-color: #FD6E0A;
    border-width: 0px;
    border-radius: 5px;
}

.page2{
    display: flex;
}
