*{
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}

.header{
    background-color: rgb(228, 226, 224);
    background-image: url(images/banner/banner1.png);
    background-position: contain;
    text-align: right;
    padding: 200px 200px 150px 0px;
    background-repeat: no-repeat;

}
.title{
    font-size: 65px;
    font-style: bold;
}
.description{
    font-size: 16px;
    color: #444343;
    padding-top: 30px;
    padding-bottom: 30px;
    font-style: normal;
}
.primary-button{
    padding: 20px 20px 20px 20px;
    color: white;
    font-size: 24px;
    background-color: #F15B22;
    border-width: 0px;
    border-radius: 5px;
}

/* --------------page 2------------ */ 

.page2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 150px 50px 150px;
    padding-top: 30px; 
    text-align: left;
}

/*
.person{
    
} 
*/

.p2-title{
    font-size: 40px;
    font-style: bold;
}

.p2-description{
    line-height: 26px;
    font-size: 16px;
    font-style: normal;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul {
    line-height: 26px;
    list-style: none;
  }
  
.tick{
    color: #16D887;
}

/* my plans----------------*/

.plan-header{
    font-size: 40px;
    font-style: bold;
    text-align: center;
    padding-top: 130px;
    padding-bottom: 50px;
}

.plan-container{
    text-align: center;
    align-items: center;
    display: flex;
    gap: 86px;
    justify-content: space-evenly;
    padding: 0px 143px 136px 143px;
}

.plans img{
    width: 92px;
    height: 92px;
}
.plan-title{
    font-size: 30px;
    font-style: bold;
}

.plan-description{
    font-size: 25px;
    font-weight: 500;
    color: #737272;
}
/* -------------call now-------*/

.call-now{
    background-image: url('images/watch.png'), url('images/gradient2.png');
    background-blend-mode: multiply;
    margin: 130px 230px 130px 193px;
    background-position: contain;
    background-repeat: no-repeat;
    width: 1140px;
    height: 300px;
    align-items: center;
}

.call-title{
    font-size: 40px;
    color: white;
    font-weight: 700;
    padding: 59px 0px 24px 64px;
}

.secondary-button{
    padding: 20px 20px 20px 20px;
    margin: 0px 0px 0px 64px;
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    border-width: 0px;
    border-radius: 5px;
}

/*-----about us--*/
.about-us-header{
    text-align: center;
    font-size: 40px;
    font-weight:700;
}

.about-us{   
    padding-top: 50px;
    background-color: #ececec;
}
.about-us-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 150px 75px 150px;
    padding-top: 30px; 
    text-align: center;
    
}
.dev img{
    width: 50%;
}
.dev-name{
    font-size: 24px;
    font-style: bold;
}

.prim-letter{
    color: #F15B22;
}

/* footer-----------------------*/
.footer{
    background-color: black;
    color: white;
    text-align: left;
    align-items: center;
    display: flex;
    gap: 331px;
    justify-content: space-around;
    padding: 130px 0px 130px 0px;
}
.left-part{
    padding: 0px 0px 0px 230px;
    line-height: 26px;
    
}
.lp-title{
    font-weight: 700;
    font-size: 45px;
}

.lp-description{
    margin-top: 16px;
    margin-bottom: 24px;
    text-decoration: none;
    color: inherit;
}

.lp-email{
    margin-bottom: 16px;
}

.lp-phone{
    margin-bottom: 32px;
}
.footer-icon{
    margin-right: 18px;
}

.right-part{
    padding: 0px 230px 0px 0px;
}
.rp-title{
    font-weight: 600;
    font-size: 25px;
}

.input-box{
    padding: 21px 0px 21px 21px;
    font-size: 18px;
    font-weight: 400;
    margin: 31px 0px 16px 0px;
    background-color: black;
    border-width: 3px;
    border-radius: 5px;
}

.subscribe-button{
    padding: 20px 20px 20px 20px;
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    border-width: 0px;
    border-radius: 5px;
}